################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/hoja_de_trabajo_progra
/hoja_de_trabajo_progra/.vs
/hoja_de_trabajo_progra/bin/Debug
/hoja_de_trabajo_progra/obj/Debug
